ics generation is borked

we are currently sending invalid line endings and escape values in our ics fields. for instance:


`"Your calendar is using an invalid newline format. Make sure to use \r\n to end lines rather than just \n (RFC 2445 §4.1)."`

```
Sorry, your calendar could not be parsed.
Error:	Error was: Error at line 23: Illegal property [TAUGHT BY CHANDLER MAYFIELD\]
Cause:	Caused by: Illegal property [TAUGHT BY CHANDLER MAYFIELD\]
Context for line 23:
20:	 onal technologies. <br />2) The scholars will then discuss how these techn
21:	 ologies relate to developing and implementing curriculum.<br />
22:	Taught By 
23:	 Chandler Mayfield\; Sascha Cohen
24:	This offering is a(n) Seminar
25:	
```
let's clear out all illegal cruft. Until we do so, feeds cannot be consumed by Apple or Google parsers.
 

@saschaben can you give me the steps you used to cause these errors?  Is it possible to do it with a demo user?  What tool spit out these error nessages?

grab url for feed. paste into browser to download .ics file. validate using  http://severinghaus.org/projects/icv/

I've created a number of different files by deleting out the offending line each time one gets caught, basically paring stuff away line by line or event by event, and revalidating each one.


@jrjohnson alternately, I can give you my key, if you want to ping me out of band.

OK. More info:

line endings must be windows (CRLF). There can be no physical line breaks in the description field we send without prefixing the line with a space. No physical double line breaks are legal UNLESS they too are prefixed with a space..

So, the following will pass muster:

```
BEGIN:VCALENDAR
VERSION:2.0
PRODID:Ilios Calendar for Sascha Cohen
X-PUBLISHED-TTL:P1H
BEGIN:VEVENT
UID:567b37e2aad26
DTSTART:20151027T210000Z
SEQUENCE:0
TRANSP:OPAQUE
DTEND:20151027T220000Z
LOCATION:U-80 Conference room
SUMMARY:Technology in Curriculum Management and Planning
CLASS:PUBLIC
DESCRIPTION:Session Summary: The purpose of this session is to provide an overview of technology’s role in curriculum development. It introduces how technology can support curriculum management and development and also support educational interventions. Learning Activities: 1) A brief lecture will provide an overview of curriculum management\, development and delivery technologies as well as highlight several innovative educational technologies. 2) The scholars will then discuss how these technologies relate to developing and implementing curriculum.
 Taught By Chandler Mayfield\; Sascha Cohen
  
 This offering is a(n) Seminar
   
 Session Objectives
  
 Describe how information technology supports curriculum development.
 Understand the difference between technology as a support tool for curriculum development and technology as an educational intervention.
 Session Learning Materials
 Understanding Medical Education: Evidence\, Theory and Practi Understanding Medical Education: Evidence\, Theory and Practice. Swanwick book Curriculum Management -  An Introduction via Ilios https://ilios-stage.ucsf.edu/lm/9ebdb73070e597342b7860ee43c846329e58e1f63ec5b6a19b5644f7e5d8b7e3
 Curriculum Management - a Proposal for Peer-to-Peer Sharing https://ilios-stage.ucsf.edu/lm/f737a44fdf231e14e103e5ffda3d388575265eeb4738cd3d70a6289116b1842f
 Course Objectives
 Analyze how learning theory relates to design of curriculum and educational activities.
 Demonstrate the ability to use various teaching methods appropriately matched to the knowledge\, attitudes and skills to be taught.
 Determine the steps in curriculum development and evaluation.
 Master various assessments of learning.
 Develop leadership skills and career plans.
 Develop skills in educational research sufficient to propose, conduct, analyze and present a study.
 Course Learning Materials
CATEGORIES:discussion-small
DTSTAMP:20151224T001011Z
END:VEVENT
END:VCALENDAR
```
where all line endings are CRLF, and all line starts whether empty or full begin with a non-breaking space.